<!DOCTYPE html>
<html lang="en">
    {% include '/frame/head.html' %}
    <script type="text/javascript" src="../static/js/pageFunction/dashboard.js"></script>
    <script type="text/javascript" src="../static/js/doc.ready/dashboard.js"></script>
<body>
    {% include '/frame/header.html' %}
    <main>
        <div style="height:300px;width: 500px;text-align: center;">
            <label>2023年6月份按摩椅營運狀況-全地區</label>
            <canvas data-chart-type="bar" data-chart="massageChairAll"></canvas>
        </div>
        
    </main>
    {% include '/frame/footer.html' %}
</body>
</html>