<!DOCTYPE html>
<html lang="en">
    {% include '/frame/head.html' %}
    <script type="text/javascript" src="../static/js/pageFunction/massageChair.js"></script>
    <script type="text/javascript" src="../static/js/doc.ready/massageChair.js"></script>
<body>
    {% include '/frame/header.html' %}
    <main>
        <select data-filter="area">
            <option value="大潤發劉老店">大潤發劉老店</option>
            <option value="家樂福劉老店">家樂福劉老店</option>
            <option value="7-11劉老店">7-11劉老店</option>
            <option value="劉老辦公室">劉老辦公室</option>
        </select>
        <div style="height:300px;width: 500px;text-align: center;" data-container="chart">
            <label data-chart-title>2023年6月份按摩椅營運狀況-大潤發劉老店</label>
            <canvas data-chart-type="bar" data-chart="massageChair"></canvas>
        </div>
    </main>
    {% include '/frame/footer.html' %}
</body>
</html>